<!-- Validation failure messages -->
<% if @family.errors.any? %>
  <% @family.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Family</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_family" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for kids_id -->
      <div class="form-group">
        <label for="kids_id" class="control-label">
          Kids
        </label>

        <%= select_tag(:kids_id, options_from_collection_for_select(Kid.all, :id, :kid_name, @family.kids_id), :class => "form-control") %>
      </div>

      <!-- Label and input for parents_id -->
      <div class="form-group">
        <label for="parents_id" class="control-label">
          Parents
        </label>

        <input type="text" id="parents_id" name="parents_id" placeholder="Parents" class="form-control" value="<%= @family.parents_id %>">
      </div>

      <button class="btn btn-success">
        Create Family
      </button>
      or
      <a href="/families">Cancel</a>
    </form>
  </div>
</div>
