<div class="page-header">
  <h3><%= @parent.parent_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
     

      <dt>Family</dt>
      <dd>
        <% if @parent.family.present? %>
          <a href="/families/<%= @parent.family_id %>">
            <%= @parent.family.family_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/parents" class="btn btn-primary">
        Back
      </a>
        <td>
          
          <% if current_parent.id == @parent.id %>
            <a href="/parents/edit" class="btn btn-warning">Edit</a>
          <% end %> 
        </td>
    </div>
  </div>
</div>



